VITE_STREAM_MODE=webrtc
VITE_HLS_BASE_URL=http://localhost:8888
VITE_WEBRTC_BASE_URL=http://localhost:8889
VITE_STREAM_FALLBACK_ENABLED=true
VITE_OVERLAY_BASE_URL=http://localhost:8010
VITE_BACKEND_BASE_URL=http://localhost:18080
VITE_BACKEND_WS_URL=ws://localhost:18080/ws
VITE_S3_BUCKET_URL=http://safety-web-dashboard-bucket.s3-website.ap-northeast-2.amazonaws.com
