@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-progress {
  animation: progress 10s linear;
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
